<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="CRM">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Artical form</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="Artical-form.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.11.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html",
		"logo": "images/default-logo.png"
}</script>
    <meta property="og:title" content="Artical form">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-header" id="sec-a74b"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1">
          <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="index" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Stock-Detail.html" style="padding: 10px 20px;">Stock Detail</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Artical-form.html" style="padding: 10px 20px;">Artical Form</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" style="padding: 10px 20px;">Stock Entry</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" style="padding: 10px 20px;">Logout</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="index" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Stock-Detail.html" style="padding: 10px 20px;">Stock Detail</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Artical-form.html" style="padding: 10px 20px;">Artical Form</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px 20px;">Stock Entry</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" style="padding: 10px 20px;">Logout</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <h1 class="u-text u-text-1">CRM</h1>
      </div></header> 
    
      <form  method="post" action="/databaseEntryForm/save-image" enctype="multipart/form-data">
        <input type="file" name="image" multiple/>
        <button type="submit">Submit</button>
      </form >
    
      <form  method="post" action="/databaseEntryForm/save-slider-image" enctype="multipart/form-data">
        <input type="hidden" name="slider" value="slider">Slider</input>
        <input type="file" name="image" multiple/>
        <button type="submit">Submit</button>
      </form >
    
      <form  method="post" action="/databaseEntryForm/save-addvertisment-image" enctype="multipart/form-data">
        <input type="hidden" name="addvert" value="addvert">Addvertisment</input>
        <input type="file" name="image" multiple/>
        <button type="submit">Submit</button>
      </form >
    
    
    
      
    <form class="form-inline" action="/databaseEntryForm" method="post">
      <input type="text" id="items" name="items" value="">Number of items<br />
      <a href="#" id="filldetails" onclick="addFields()">Add fields</a>
      <br/>
     
     <span id="headings" >
      <h4 class="inner-headings">ImagePath</h4>
      <h4 class="inner-headings" style="margin-left: 100px;">Price</h4>
      <h4 class="inner-headings">Quantity</h4>
      <h4 class="inner-headings">Description</h4>
      <h4 class="inner-headings">Material</h4>
      <h4 class="inner-headings">Brand</h4>
      <h4 class="inner-headings">Type</h4>
      <h4 class="inner-headings">Size</h4>
    </span>
    <br/>
    
      <!-- <input type="text" id="imagePath" placeholder="SelectImagePath" name="imagePath">
      <button type="button">Select Image</button>
      <input type="number" id="price" placeholder="Price" name="price">
      <input type="number" id="quantityNumber" placeholder="Quantity" name="quantityNumber">
      <input type="text" id="description" placeholder="Description" name="description" name="description">
      <input type="text" id="material" placeholder="material" name="material">
      <input type="text" id="brand" placeholder="Brand" name="brand" name="brand">-->
    
      <div id="container" name="productData" ></div>
    
      <br/>
      <button type="submit" onclick='serializeForm()'>Submit</button>
    </form>
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-77d2"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/web-design" target="_blank">
        <span>Web Design inspiration</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/html-website-builder" target="_blank">
        <span>Online HTML Editor</span>
      </a>. 
    </section>
  </body>
</html>



<html>
<head>
    <script type='text/javascript'>

    
         function addFields(){
        
            // Number of inputs to create
            var number = document.getElementById("items").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode((i+1)));
                // Create an <input> element, set its type and name attributes
                

                var inputPath = document.createElement("input");
                inputPath.type = "text";
                inputPath.name = "name";
                inputPath.id = "productName";
                inputPath.placeholder = "ProductName";
                container.appendChild(inputPath);


                var button = document.createElement("input");
                button.type = "file";
                button.name = "imagePath";
                button.id = "selectPhotoPath";
                button.innerText = "Select Image";
                container.appendChild(button);
                // var x = document.getElementById("selectPhotoPath").value;
                // document.getElementById("pathToFile").innerHTML = x;
                // Create an <input> element, set its type and name attributes
                var inputPrice = document.createElement("input");
                inputPrice.type = "number";
                inputPrice.name = "price";
                inputPrice.placeholder = "Price";
                container.appendChild(inputPrice);

                var inputQuantity = document.createElement("input");
                inputQuantity.type = "number";
                inputQuantity.name = "quantity";
                inputQuantity.placeholder = "Quantity";
                container.appendChild(inputQuantity);

                var inputDescription = document.createElement("input");
                inputDescription.type = "text";
                inputDescription.name = "description";
                inputDescription.placeholder = "Description";
                container.appendChild(inputDescription);

                var inputMaterial = document.createElement("input");
                inputMaterial.type = "text";
                inputMaterial.name = "material";
                inputMaterial.placeholder = "Material";
                container.appendChild(inputMaterial);

                var inputBrand = document.createElement("input");
                inputBrand.type = "text";
                inputBrand.name = "brand";
                inputBrand.placeholder = "Brand";
                container.appendChild(inputBrand);
                var nameOfTag = "pant";
                var placeHolder = "waist";
             
              var inputType = document.createElement("input");
              inputType.type = "text";
              inputType.name = "type";
              inputType.placeholder = "type";
                container.appendChild(inputType);

                var inputSize = document.createElement("input");
                inputSize.type = "text";
                inputSize.name = "size";
                inputSize.placeholder = "size";
                container.appendChild(inputSize);

                var inputChest = document.createElement("input");
                inputChest.type = "text";
                inputChest.name = "chest";
                inputChest.placeholder = "chest";
                container.appendChild(inputChest);

                var inputShoulder = document.createElement("input");
                inputShoulder.type = "text";
                inputShoulder.name = "shoulder";
                inputShoulder.placeholder = "shoulder";
                container.appendChild(inputShoulder);

                var inputWaist = document.createElement("input");
                inputWaist.type = "text";
                inputWaist.name = "waist";
                inputWaist.placeholder = "waist";
                container.appendChild(inputWaist);


                var inputSize = document.createElement("input");
                inputSize.type = "text";
                inputSize.name = "gender";
                inputSize.placeholder = "Gender";
                container.appendChild(inputSize);

                // var labelhot = document.createElement("label");
                // labelhot.innerText = "Hot product";
                // container.appendChild(labelhot);

                var inputhot = document.createElement("input");
                inputhot.type = "text";
                inputhot.name = "hotOrNot";
                inputhot.placeholder = "hotOrNot";
                container.appendChild(inputhot);

                // var labelkids = document.createElement("label");
                // labelkids.innerText = "For Kids";
                // container.appendChild(labelkids);

                var inputkids = document.createElement("input");
                inputkids.type = "text";
                inputkids.name = "kids";
                inputkids.placeholder = "kids";
                container.appendChild(inputkids);


               
                // Append a line break 
                container.appendChild(document.createElement("br"));
            }
        }
        
    </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}



.form-inline input {
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
}


.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 500px) {
  .form-inline input {
    margin: 5px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
.inner-headings {
  display: inline-block;
  margin-right: 90px;
  margin-left:20px;
}
</style>
</head>
<body>


 

 

  <form  method="post" action="/databaseEntryForm/save-image" enctype="multipart/form-data">
    <input type="file" name="image" multiple/>
    <button type="submit">Submit</button>
  </form >

  <form  method="post" action="/databaseEntryForm/save-slider-image" enctype="multipart/form-data">
    <input type="hidden" name="slider" value="slider">Slider</input>
    <input type="file" name="image" multiple/>
    <button type="submit">Submit</button>
  </form >

  <form  method="post" action="/databaseEntryForm/save-addvertisment-image" enctype="multipart/form-data">
    <input type="hidden" name="addvert" value="addvert">Addvertisment</input>
    <input type="file" name="image" multiple/>
    <button type="submit">Submit</button>
  </form >



  
<form class="form-inline" action="/databaseEntryForm" method="post">
  <input type="text" id="items" name="items" value="">Number of items<br />
  <a href="#" id="filldetails" onclick="addFields()">Add fields</a>
  <br/>
 
 <span id="headings" >
  <h4 class="inner-headings">ImagePath</h4>
  <h4 class="inner-headings" style="margin-left: 100px;">Price</h4>
  <h4 class="inner-headings">Quantity</h4>
  <h4 class="inner-headings">Description</h4>
  <h4 class="inner-headings">Material</h4>
  <h4 class="inner-headings">Brand</h4>
  <h4 class="inner-headings">Type</h4>
  <h4 class="inner-headings">Size</h4>
</span>
<br/>

  <!-- <input type="text" id="imagePath" placeholder="SelectImagePath" name="imagePath">
  <button type="button">Select Image</button>
  <input type="number" id="price" placeholder="Price" name="price">
  <input type="number" id="quantityNumber" placeholder="Quantity" name="quantityNumber">
  <input type="text" id="description" placeholder="Description" name="description" name="description">
  <input type="text" id="material" placeholder="material" name="material">
  <input type="text" id="brand" placeholder="Brand" name="brand" name="brand">-->

  <div id="container" name="productData" ></div>

  <br/>
  <button type="submit" onclick='serializeForm()'>Submit</button>
</form>
<script>
  function myFunction() {
    var x = document.getElementById("myFile").value;
    document.getElementById("demo").innerHTML = x;
  }
  </script>

</body>
</html>