<html>
<head>
    <script type='text/javascript'>

    
         function addFields(){
        
            // Number of inputs to create
            var number = document.getElementById("items").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode((i+1)));
                // Create an <input> element, set its type and name attributes
                

                var inputPath = document.createElement("input");
                inputPath.type = "text";
                inputPath.name = "name";
                inputPath.id = "productName";
                inputPath.placeholder = "ProductName";
                container.appendChild(inputPath);


                var button = document.createElement("input");
                button.type = "file";
                button.name = "imagePath";
                button.id = "selectPhotoPath";
                button.innerText = "Select Image";
                container.appendChild(button);
                // var x = document.getElementById("selectPhotoPath").value;
                // document.getElementById("pathToFile").innerHTML = x;
                // Create an <input> element, set its type and name attributes
                var inputPrice = document.createElement("input");
                inputPrice.type = "number";
                inputPrice.name = "price";
                inputPrice.placeholder = "Price";
                container.appendChild(inputPrice);

                var inputQuantity = document.createElement("input");
                inputQuantity.type = "number";
                inputQuantity.name = "quantity";
                inputQuantity.placeholder = "Quantity";
                container.appendChild(inputQuantity);

                var inputDescription = document.createElement("input");
                inputDescription.type = "text";
                inputDescription.name = "description";
                inputDescription.placeholder = "Description";
                container.appendChild(inputDescription);

                var inputMaterial = document.createElement("input");
                inputMaterial.type = "text";
                inputMaterial.name = "material";
                inputMaterial.placeholder = "Material";
                container.appendChild(inputMaterial);

                var inputBrand = document.createElement("input");
                inputBrand.type = "text";
                inputBrand.name = "brand";
                inputBrand.placeholder = "Brand";
                container.appendChild(inputBrand);
                var nameOfTag = "pant";
                var placeHolder = "waist";
             
              var inputType = document.createElement("input");
              inputType.type = "text";
              inputType.name = "type";
              inputType.placeholder = "type";
                container.appendChild(inputType);

                var inputSize = document.createElement("input");
                inputSize.type = "text";
                inputSize.name = "size";
                inputSize.placeholder = "size";
                container.appendChild(inputSize);

                var inputSize = document.createElement("input");
                inputSize.type = "text";
                inputSize.name = "gender";
                inputSize.placeholder = "Gender";
                container.appendChild(inputSize);

                // var labelhot = document.createElement("label");
                // labelhot.innerText = "Hot product";
                // container.appendChild(labelhot);

                var inputhot = document.createElement("input");
                inputhot.type = "text";
                inputhot.name = "hotOrNot";
                inputhot.placeholder = "hotOrNot";
                container.appendChild(inputhot);

                // var labelkids = document.createElement("label");
                // labelkids.innerText = "For Kids";
                // container.appendChild(labelkids);

                var inputkids = document.createElement("input");
                inputkids.type = "text";
                inputkids.name = "kids";
                inputkids.placeholder = "kids";
                container.appendChild(inputkids);


               
                // Append a line break 
                container.appendChild(document.createElement("br"));
            }
        }
        
    </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}



.form-inline input {
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
}


.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 500px) {
  .form-inline input {
    margin: 5px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
.inner-headings {
  display: inline-block;
  margin-right: 90px;
  margin-left:20px;
}
</style>
</head>
<body>


 

 

  <form  method="post" action="/databaseEntryForm/save-image" enctype="multipart/form-data">
    <input type="file" name="image" multiple/>
    <button type="submit">Submit</button>
  </form >

  <form  method="post" action="/databaseEntryForm/save-slider-image" enctype="multipart/form-data">
    <input type="hidden" name="slider" value="slider">Slider</input>
    <input type="file" name="image" multiple/>
    <button type="submit">Submit</button>
  </form >


  
<form class="form-inline" action="/databaseEntryForm" method="post">
  <input type="text" id="items" name="items" value="">Number of items<br />
  <a href="#" id="filldetails" onclick="addFields()">Add fields</a>
  <br/>
 
 <span id="headings" >
  <h4 class="inner-headings">ImagePath</h4>
  <h4 class="inner-headings" style="margin-left: 100px;">Price</h4>
  <h4 class="inner-headings">Quantity</h4>
  <h4 class="inner-headings">Description</h4>
  <h4 class="inner-headings">Material</h4>
  <h4 class="inner-headings">Brand</h4>
  <h4 class="inner-headings">Type</h4>
  <h4 class="inner-headings">Size</h4>
</span>
<br/>

  <!-- <input type="text" id="imagePath" placeholder="SelectImagePath" name="imagePath">
  <button type="button">Select Image</button>
  <input type="number" id="price" placeholder="Price" name="price">
  <input type="number" id="quantityNumber" placeholder="Quantity" name="quantityNumber">
  <input type="text" id="description" placeholder="Description" name="description" name="description">
  <input type="text" id="material" placeholder="material" name="material">
  <input type="text" id="brand" placeholder="Brand" name="brand" name="brand">-->

  <div id="container" name="productData" ></div>

  <br/>
  <button type="submit" onclick='serializeForm()'>Submit</button>
</form>
<script>
  function myFunction() {
    var x = document.getElementById("myFile").value;
    document.getElementById("demo").innerHTML = x;
  }
  </script>

</body>
</html>