<html>
<head>
    <script type='text/javascript'>

    
         function addFields(){
          var selectedValue = document.getElementById("type").value;
            console.log(selectedValue);
            // Number of inputs to create
            var number = document.getElementById("items").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode((i+1)));
                // Create an <input> element, set its type and name attributes
                

                // var inputPath = document.createElement("input");
                // inputPath.type = "text";
                // inputPath.name = "Path";
                // inputPath.id = "pathToFile";
                // inputPath.placeholder = "Select image path";
                // container.appendChild(inputPath);

                var button = document.createElement("input");
                button.type = "file";
                button.name = "imagePath";
                button.id = "selectPhotoPath";
                button.innerText = "Select Image";
                container.appendChild(button);
                // var x = document.getElementById("selectPhotoPath").value;
                // document.getElementById("pathToFile").innerHTML = x;
                // Create an <input> element, set its type and name attributes
                var inputPrice = document.createElement("input");
                inputPrice.type = "number";
                inputPrice.name = "price";
                inputPrice.placeholder = "Price";
                container.appendChild(inputPrice);

                var inputQuantity = document.createElement("input");
                inputQuantity.type = "number";
                inputQuantity.name = "quantity";
                inputQuantity.placeholder = "Quantity";
                container.appendChild(inputQuantity);

                var inputDescription = document.createElement("input");
                inputDescription.type = "text";
                inputDescription.name = "description";
                inputDescription.placeholder = "Description";
                container.appendChild(inputDescription);

                var inputMaterial = document.createElement("input");
                inputMaterial.type = "text";
                inputMaterial.name = "material";
                inputMaterial.placeholder = "Material";
                container.appendChild(inputMaterial);

                var inputBrand = document.createElement("input");
                inputBrand.type = "text";
                inputBrand.name = "brand";
                inputBrand.placeholder = "Brand";
                container.appendChild(inputBrand);
                var nameOfTag = "Pant";
                var placeHolder = "waist";
              if(selectedValue == "pant")
                { 
                  nameOfTag = "pant";
                  placeHolder = "Waist";
              }else {
                nameOfTag = "shirt";
                placeHolder = "Size";
              }
              var inputSize = document.createElement("input");
                inputSize.type = "text";
                inputSize.name = nameOfTag;
                inputSize.placeholder = placeHolder;
                container.appendChild(inputSize);

    //             var values = ["Shirt", "Pant"];
 
    // var select = document.createElement("SELECT");
    // select.name = "type";
    // select.id = "type";
 
    // for (const val of values)
    // {
    //     var option = document.createElement("option");
    //     option.value = val;
    //     option.text = val.charAt(0).toUpperCase() + val.slice(1);
    //     select.appendChild(option);
    // }
    // document.getElementById("container").appendChild(select);

               
                // Append a line break 
                container.appendChild(document.createElement("br"));
            }
        }
        
    </script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* .form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  margin-top: 20px;
} */

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
.inner-headings {
  display: inline-block;
  margin-right: 105px;
  margin-left:20px;
}
</style>
</head>
<body>


  <input type="text" id="items" name="items" value="">Number of items<br />
  <a href="#" id="filldetails" onclick="addFields()">Add fields</a>
  <br/>
  <!-- <label>Type</label>
  <select style="margin-left: 20px;" name="type" id="type">
    <option value="shirt">Shirt</option>
    <option value="pant">Pant</option>
  </select>  -->
<form class="form-inline" action="/databaseEntryForm" method="post">

  <label>Type</label>
  <select style="margin-left: 20px;" name="type" id="type">
    <option value="shirt">Shirt</option>
    <option value="pant">Pant</option>
  </select> 
  <br />
 <span id="headings" >
  <h4 class="inner-headings">ImagePath</h4>
  <h4 class="inner-headings" style="margin-left: 100px;">Price</h4>
  <h4 class="inner-headings">Quantity</h4>
  <h4 class="inner-headings">Description</h4>
  <h4 class="inner-headings">Material</h4>
  <h4 class="inner-headings">Brand</h4>
  <h4 class="inner-headings">Size</h4>
</span>
<br/>

  <!-- <input type="text" id="imagePath" placeholder="SelectImagePath" name="imagePath">
  <button type="button">Select Image</button>
  <input type="number" id="price" placeholder="Price" name="price">
  <input type="number" id="quantityNumber" placeholder="Quantity" name="quantityNumber">
  <input type="text" id="description" placeholder="Description" name="description" name="description">
  <input type="text" id="material" placeholder="material" name="material">
  <input type="text" id="brand" placeholder="Brand" name="brand" name="brand">-->

  <div id="container" name="productData" ></div>

  <br/>
  <button type="submit">Submit</button>
</form>
<script>
  function myFunction() {
    var x = document.getElementById("myFile").value;
    document.getElementById("demo").innerHTML = x;
  }
  </script>
</body>
</html>